<footer class="bg-footer text-white text-end py-3 mt-4">
    <div class="container">
        <p>&copy; 2024 Princess of Oceans. Some rights reserved.</p>
        <p>
            Phone: (+39) 123.4567.890 | Email: princess.oceans@sea.com
        </p>
    </div>
</footer>

<!-- Bootstrap JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous">
</script>

<!-- Custom CSS -->
<style>
    .bg-footer {
        background: url('/static/imgs/nave_footer.jpg') no-repeat center center;
        background-size: cover;
    }
</style>