{% extends "base.html" %}

{% block title %}Registrazione{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2>Registrazione</h2>
        <form method="POST">
            <div class="mb-2">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome" required>
            </div>
            <div class="mb-2">
                <label for="cognome" class="form-label">Cognome</label>
                <input type="text" class="form-control" id="cognome" name="cognome" required>
            </div>
            <div class="mb-2">
                <label for="telefono" class="form-label">Telefono</label>
                <input type="text" class="form-control" id="telefono" name="telefono" required>
            </div>
            <div class="mb-2">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-2">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
                <p>La password deve essere di almeno 8 caratteri, con maiuscole e minuscole, numeri e almeno un carattere speciale: [!@#$%^&*(),.?\":{}|<>] </p>
            </div>
            <button type="submit" class="btn btn-primary">Registrati!</button>
        </form>
    </div>
</div>
{% endblock %}